@tailwind base;
@tailwind components;
@tailwind utilities;

.article-content img {
    margin-bottom: 1rem;
}

.article-content a {
    color: rgb(3 105 161);
    text-decoration: underline;
}

.article-content p {
    margin-bottom: 1rem;
}